<div>

    <!-- Main content -->
    <section class="content">
            <div id="system-message-container">
	</div>

     <div>
          <div>
               <div class="row">
                    <div class="col-xs-12 col-sm-12">

<!-- start -->
<div class="panel panel-default">
                    <div class="panel-heading">
                         <h4 class="panel-title">Alert List</h4>
                    </div>
                    <div class="panel-body">
                         <div class="form-group">
                              Coming Soon...

                         </div>
                    </div>
</div>

<!-- end -->



                    </div>
               </div>
          </div>
     </div>

    </section>
    <!-- /.content -->
  </div>
