<footer class="main-footer" *ngIf="authService.loggedIn()">
  <div class="pull-right hidden-xs">
   <b>Version</b> 2.3.8
  </div>
  <strong>Copyright &copy; 2017 Welloculus. All Rights Reserved.
Developed by <a href="http://www.transility.com">www.transility.com</a>.</strong> All rights
  reserved.
</footer>

<footer class="main-footer loginfooter" *ngIf="!authService.loggedIn()">
  <div class="pull-right hidden-xs">
   <b>Version</b> 2.3.8
  </div>
  <strong>Copyright &copy; 2017 Welloculus. All Rights Reserved.
Developed by <a href="http://www.transility.com">www.transility.com</a>.</strong> All rights
  reserved.
</footer>
