<div class="navbar navbar-default" id="navbar">
        <a class="navbar-brand" href="#">
             <img alt="Welloculus" class="image-logo" src="./assets/img/logo/logo.png">
        </a>
        <ul class="nav navbar-nav pull-right" *ngIf="authService.loggedIn()">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-envelope"></i>
              Notifications
              <span class="badge">5</span>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu notification_dropdown">
                 <li>
                       <span>User1</span>
                       <span>Heart Rate:174/64</span>
                       <span>1 Min</span>
                 </li>
                 <li>
                       <span>User2</span>
                       <span>Heart Rate:174/64</span>
                       <span>1 Min</span>
                 </li>
                 <li>
                       <span>User3</span>
                       <span>Heart Rate:174/64</span>
                       <span>1 Min</span>
                 </li>
                 <li>
                       <span>User4</span>
                       <span>Heart Rate:174/64</span>
                       <span>1 Min</span>
                 </li>
            </ul>
          </li>
          <li class="dropdown user">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i>
              <strong>Saurav</strong>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a [routerLink]="['/profile']">Edit Profile</a>
              </li>
              <li class="divider"></li>
              <li>
                <a (click)="onLogoutClick()">Sign out</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
