<div class="wrapper">

  <app-header *ngIf="authService.loggedIn()"></app-header>

  <!-- Left side column. contains the logo and sidebar -->
  <app-sidebar *ngIf="authService.loggedIn()"></app-sidebar>

        <!-- Dashboard content -->
     <div class="container-fluid row flashmsg" [class.aftrlgn]="authService.loggedIn()">
          <flash-messages></flash-messages>
     </div>
     <router-outlet></router-outlet>
  <!-- /.content-wrapper -->
  <app-footer *ngIf="authService.loggedIn()"></app-footer>

  <!-- Control Sidebar -->
  <app-right-sidebar></app-right-sidebar>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
</div>
