<div class="wrapper">

  <app-header></app-header>

  <div id="wrapper" *ngIf="authService.loggedIn()">
       <!-- Left side column. contains the logo and sidebar -->
      <app-sidebar></app-sidebar>

      <!-- contains the main data -->
     <div id="content">
          <flash-messages></flash-messages>
          <router-outlet></router-outlet>
          <app-footer></app-footer>
     </div>
  </div>
  <div id="wrapper" *ngIf="!authService.loggedIn()">
       <app-login></app-login>
       <app-footer></app-footer>
  </div>
</div>
