<div>

    <!-- Main content -->
    <section class="content">
            <div id="system-message-container">
	</div>

     <div>
          <div>
               <div class="row">
                    <div class="col-xs-12 col-sm-12">

<!-- start -->
<div class="panel panel-default">
                    <div class="panel-heading">
                         <h4 class="panel-title">Users List</h4>
                    </div>
                    <div class="panel-body">
                         <div class="form-group">
                              <table class="table table-striped table-bordered">
                                  <thead>
                                     <tr>
                                          <th>#</th>
                                          <th>First Name</th>
                                          <th>Middle Name</th>
                                          <th>Last Name</th>
                                          <th>Contact</th>
                                          <th>Address</th>
                                          <th>Email</th>
                                          <th>Gender</th>
                                     </tr>
                                  </thead>
                                  <tbody>
                                     <tr *ngFor="let user of users; let i = index" [attr.data-index]="i">
                                          <td>{{(i+1)}}</td>
                                          <td>{{user.first_name}}</td>
                                          <td>{{user.middle_name}}</td>
                                          <td>{{user.last_name}}</td>
                                          <td>{{
                                               user.contact_numbers[0].primary.concat(((user.contact_numbers[0].secondary!="")?(", "+user.contact_numbers[0].secondary):""))
                                          }}</td>
                                          <td>{{
                                               ((user.address[0].line1!=undefined && user.address[0].line1!="")?(
                                               user.address[0].line1.concat(((user.address[0].line2!=undefined && user.address[0].line2!="")?(", "+user.address[0].line2):""))
                                               .concat((user.address[0].city!=""?(", "+user.address[0].city):""))
                                               .concat((user.address[0].state!=""?(", "+user.address[0].state):""))
                                               .concat(((user.address[0].zip!=undefined && user.address[0].zip!="")?(", "+user.address[0].zip):""))
                                               ):"")
                                          }}</td>
                                          <td>{{user.email}}</td>
                                          <td>{{(user.gender=='M'?'Male':'Female')}}</td>
                                     </tr>
                                  </tbody>
                              </table>

                         </div>
                    </div>
</div>

<!-- end -->



                    </div>
               </div>
          </div>
     </div>

    </section>
    <!-- /.content -->
  </div>
