<section id="sidebar">
          <i class="icon-align-justify icon-large" id="toggle"></i>
          <ul id="dock">
            <li class="launcher" *ngIf="authService.loggedIn()"  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
              <i class="icon-dashboard"></i>
              <a [routerLink]="['/dashboard']">Dashboard</a>
            </li>
            <li class="launcher" *ngIf="authService.loggedIn()"  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
              <i class="icon-tablet"></i>
              <a [routerLink]="['/devices']">Devices</a>
            </li>
            <li class="launcher" *ngIf="authService.loggedIn()"  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
              <i class="icon-group"></i>
              <a [routerLink]="['/users']">Users</a>
            </li>
            <li class="launcher" *ngIf="authService.loggedIn()"  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
              <i class="icon-sitemap"></i>
              <a [routerLink]="['/facilities']">Facilities</a>
            </li>
            <li class="launcher" *ngIf="authService.loggedIn()"  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
              <i class="icon-bell"></i>
              <a [routerLink]="['/manage-alerts']">Manage Alerts</a>
            </li>
            <li class="launcher" *ngIf="authService.loggedIn()"  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
              <i class="icon-bar-chart"></i>
              <a [routerLink]="['/reports']">Reports</a>
            </li>
            <li class="launcher" *ngIf="authService.loggedIn()"  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
              <i class="icon-user"></i>
              <a [routerLink]="['/profile']">Profile</a>
            </li>
            <li class="launcher" *ngIf="authService.loggedIn()"  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
              <i class="icon-signout"></i>
              <a (click)="onLogoutClick()" href="#">Logout</a>
            </li>
          </ul>
</section>

<!-- tools section. contains the breadcrumb -->
<section id="tools">
          <ul class="breadcrumb" id="breadcrumb">
            <li class="title">{{globals.title}}</li>
          </ul>
</section>
